@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

.settings-mainback {
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
}

.settings-container {
  display: contents;
  width: 100%;
}

.settings-heading {
  font-size: 35px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

.settings-description {
  font-family: "Work Sans", sans-serif;
  font-style: italic;
}

.settings-profileContainer {
  font-size: 16px;
  display: flex;
  padding: 10px;
}

.settings-card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.settings-img {
  height: 1rem;
  margin-right: 0.3rem;
}
